@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}main {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background-image: linear-gradient(rgb(146, 126, 146), rgb(178, 149, 185));
  /* margin-top: 20px; */
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  /* position: relative; */
}#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: linear-gradient(rgb(139, 37, 139), rgb(144, 101, 155));;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}#contact button[type="submit"]:hover {
  background:  rgb(144, 101, 155);;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}::-webkit-input-placeholder {
  color: #888;
}:-moz-placeholder {
  color: #888;
}::-moz-placeholder {
  color: #888;
}:-ms-input-placeholder {
  color: #888;
}
.container{
    /* position: relative; */
    padding-top: 5px;
    padding-bottom: 5px;
}.team {
    background: #F5F5F5;
    padding: 5em 0;
    height: 500px;
    width: 100%;
    display: grid;
}
.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}@media (min-width: 768px) {
  .container2 {
    width: 750px;
  }
}@media (min-width: 992px) {
  .container2 {
    width: 970px;
  }
}@media (min-width: 1200px) {
  .container2 {
    width: 1170px;
  }
}
h3.title {
    color:rgb(139, 37, 139);;
    font-size: 40px;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 400;
    font-style: italic;
}
.team-grid {
    text-align: center;
}
.col-xs-4 {
    width: 20%;
    float: left;
    /* position: relative; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/*-- Team --*/.team {
    background: #F5F5F5
;
    padding: 5em 0;
}.team-grid {
    text-align: center;
}.team-grid h4 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin: 40px 0 20px;
}.team-grid p {
    color: #777;
    font-size: 1em;
}.social-nav li {
    display: inline-block;
}.social-nav a {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    /* position: relative; */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}.model-3d-0 a {
    background: #5C5B5B
;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}.model-3d-0 .front,
.model-3d-0 .back {
    width: 30px;
    height: 30px;
    font-size: 1em;
    color: #fff;
    background: #FAAD81
;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(18px);
    -moz-transform: translateZ(18px);
    -ms-transform: translateZ(18px);
    -o-transform: translateZ(18px);
    transform: translateZ(18px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}.model-3d-0 .back {
    font-size: 1em;
    color: #fff;
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}.twitter .back,
.facebook .back,
.instagram .back,
.pinterest .back {
    background: #81CDFA
;
}.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.model-3d-0 a:hover .back {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}.stack img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 10px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}.stack:last-of-type {
    margin-right: 0;
}/* Third stack example (One stack element rotated in the opposite direction) */.stack.twisted:before {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
}.stack.twisted:after {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}/* Reset all rotations on hover */.stack:hover:before,
.stack:hover:after,
.team-grid:hover .stack:before,
.team-grid:hover .stack:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}/* Stacks creted by the use of generated content */.stack:before,
.stack:after {
    content: "";
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid #fff;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
}.stack:before {
    top: 4px;
    z-index: -10;
}/* 1st element in stack (behind image) */.stack:after {
    top: 8px;
    z-index: -20;
}/* 2nd element in stack (behind image) */.stack {
    float: none;
    width: 92%;
    margin: 3% 0% 8% 4%;
    position: relative;
    z-index: 1;
}
footer{
    clear: both;
}