
*{
    box-sizing: border-box;
}


.topMain{
    height: 630px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/images/banner1.jpg');
    Box-shadow:4px 6px 3px gray;
    
}

.inMain{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.columnL{
    width: 55%;
    float: left;
    margin-top: 120px;
    padding-right: 30px;
}

.columnL h2{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
    color: #eee;
    font-weight: bolder;
    font-family: cursive;
}

.columnL p{
    font-size: x-large;
    margin-bottom: 20px;
    margin-top: 10;
    color:  rgb(10, 10, 10);
    font-family: cursive;
}

.columnL ul{
    font-size: x-large;
    margin-bottom: 20px;
    margin-top: 10;
    margin-left: 30px;
    color:  rgb(10, 10, 10);
    font-family: cursive;
}
.columnL ul li{
padding: 5px;
}

/* ................ */
.midMain{
    clear: both;
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

.midMainBor{

}

.midMain h2{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    top: 70px;
    font-size: x-large;
    font-weight: bolder;
}

.rating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 50px;
}

.midMain p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.btmMain{
    clear: both;
    width: 90%;
    /* height: 1000px; */
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
 
}

/* .......new style........ */

.btmMain h2{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}


.v1, .v2{
    width: 50%;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* main {
    background-image: linear-gradient(rgb(146, 126, 146), rgb(178, 149, 185));
} */

body {
   background-color: lightgray;
}
