main {background-color: #166B8C;
}
 div {width: 90%;
margin-left: auto; 
margin-right: auto;}

fieldset {border: hidden;}





/* Form element setup */
form {
  border: black;
  border-style: solid;
  background-color: blanchedalmond;
  position: relative;
  top: 0;
  left: 50%;
  width:60%;
  transform: translateX(-50%);
  margin: 2rem 0;
  z-index: 1;
}

fieldset {
  margin: 0 0 1rem 0;
  padding: 0;
  /* border: none; */
}

legend {
  font-weight: 400;
}

legend,
label {
  display: inline-block;
  margin-bottom: .5rem;
}

input[type='text'],
textarea,
select {
  display: block;
  padding: .5rem;
  width: 100%;
  background-color: white;
  border-radius: .25rem;
  border: 1px solid #e5e5e5;
  outline: none;
      
  /* List some properties that might change */
  transition-property: none;
  transition-duration: none;
  
  &:focus {
    border-color: rgb(239,126,173);
  }
}

textarea {
  max-width: 300px;
  height: 100px;
}

input[type='text'],
select {
  height: 34px;
}

select {
  font-size: .875rem;
}

input[type='checkbox'],
input[type='radio'] {
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  margin: 0 .5rem;
  background-color: white;
  border: 1px solid #e5e5e5;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  
  /* List some properties that might change */
  transition-property: none;
  transition-duration: none;
}

input[type='checkbox'] {
  border-radius: 5px;

  &:checked {
    background-color: rgb(239,126,173); 
    border: none;

    &:after {
      display: block;
      content: '';
      height: 4px;
      width: 10px;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: translate(5px,6px) rotate(-45deg) scale(1);
    }
  }
}

input[type='radio'] {
  border-radius: 50%;
  
  &:checked {
    border-width: 5px;
    border-color: white;
    background-color: rgb(239,126,173);
  }
}



button {
  display: block;
  margin: 3em auto;
  padding: .5rem 2rem;
  font-size: 125%;
  color: white;
  border: none;
  border-radius: .25rem;
  background-color: rgb(239,126,173);
  outline: none;
  box-shadow: 0 .4rem .1rem -.3rem rgba(0,0,0,.1);

  /* We'll talk about this next */
  transform: perspective(300px) scale(.95) translateZ(0);
  transform-style: preserve-3d;

  /* List the properties that you're looking to transition.
     Try not to use 'all' */
  transition-property: none;

  /* This applies to all of the above properties */
  transition-duration: none;
    
  &:hover {
    cursor: pointer;
    background-color: rgb(255,150,200);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transform: scale(1.1) rotateX(0);
  }

  &:active {
    background-color: rgb(239,126,173);
    transform: scale(1.05) rotateX(-10deg);
  }
}














 
 .para1 h2{text-align: center;
color:whitesmoke;}
.para1 p {max-width: 60%;
text-align: center;
margin-left: 8cm;
color:beige;} 

.provider{max-width:60%; 
  align-content: center;}
  
  
  /* background-image:url(../images/Water_Heaters_iStock_000024951625_Double-me.jpg);
background-size: cover;
background-repeat : no-repeat;
        background-position: center center; */
        /* background-attachment: fixed;} */
        /* background-color: beige;
   
 */

/* 
.rounded-input {
    padding:10px;
    border-radius:10px;
  /* } */
 /* .bigborder *{align-content: center ;
text-align: center;
/* color: #F2134F;} */



/* .provider ul {list-style: none;}
.sec1 ul li {margin-top: 15px;
     }

     .input {  padding:10px;
   
          border: 1px solid rgba(199, 193, 193, 0.6);
        border-radius:10px;
    width: 50%;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.06)}

    select {
      border: 1px solid rgba(199, 193, 193, 0.6);
      border-radius:10px;
        width:80%
        padding:10px;
        border-radius:10px;
      }
      .sec1 label { display: inline-block;

          text-align: right;
        
        
        width:25%;}


        .f2 label {display:inline-block;
        text-align:left;
    width:20%; }


       .f3 label {width :40%;
        display:inline-block;
        text-align:left;} */
    /* }

    .contract {margin-top: 20px;}

    .contract label {position: relative;top: 10px;}

.contract input {height: 1cm;} */ 



/* #contact{position: relative;
left:-29px}

.contactno{
    position: relative;
    left:-30px
}
      .f2{border: outset;}
      .f3{border: outset;}
      
    #wednesday{position: relative;
    left:9px;}

    #thursday{position: relative;
        left: 4px;}

     #friday{position: relative;
          left: -4.5px;}

          .f2 ul li {margin: 5px;}

     .verify{   border-radius:5px;
    height: 30px;}      */ 